<!-- <link rel="stylesheet" href="/CSS/footer.ejs"> -->
<footer class="bg-gray-100 text-gray-600 py-6 mt-10">
    <div class="max-w-7xl mx-auto px-4 flex flex-col-1  md:flex-col justify-center items-center space-y-4 md:space-y-3">
      
      <!-- Social Icons -->
      <div class="flex space-x-4 text-xl">
        <i class="fa-brands fa-square-facebook hover:text-blue-600 cursor-pointer" aria-hidden="true"></i>
        <i class="fa-brands fa-square-instagram hover:text-pink-500 cursor-pointer" aria-hidden="true"></i>
        <i class="fa-brands fa-linkedin hover:text-blue-700 cursor-pointer" aria-hidden="true"></i>
      </div>
      
      <!-- Brand Name -->
      <div class="text-sm font-semibold text-center md:text-left">
        &copy; Wanderlust Private Limited
      </div>
      
      <!-- Links -->
      <div class="flex space-x-4 text-sm">
        <a href="/privacy" class="hover:underline">Privacy</a>
        <a href="/terms" class="hover:underline">Terms</a>
      </div>
      
    </div>
  </footer>
  