<link rel="stylesheet" href="/CSS/navbar.css">
<div class="navbar">
  <a href="/" class="brand"><i class="fa fa-compass icon-large" aria-hidden="true"></i></a>
  <div>
    <a href="/">Home</a>
    <a href="/listings">All Listings</a>
    <a href="/listings/new">Create new Listing</a>
  </div>
</div>

  