
<% layout("/layouts/boilerplate") %>
<main class="flex flex-col items-center justify-center min-h-screen px-4">
    <h2 class="text-4xl font-semibold mb-6 text-center">Explore Unique Places to Stay</h2>

    <p class="text-lg italic text-gray-600 text-center max-w-xl">
      "Travel isn't always about the destination — sometimes it's about the place you stay."
    </p>

    <button 
          onclick="window.location.href='/listings'" 
          class="bg-blue-500 hover:bg-blue-600 mt-16 hover:scale-1.03 hover:border-pink-500/30 w-40 h-10 hover:text-white shadow-xl hover:shadow-pink-200 border-radius-10 transition duration-300 ease-in-out">
         EXPLORE
    </button>

  </main> 