body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.container{
    flex: 1;
}

.div-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.show-img{
    height: 22rem;
    width: 30rem;
    border-radius: 1.4rem;
}
   